body {
  margin: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  color: #98a6bd;
  background-color: #fff;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  max-width: 1000px;
  margin: 50px;
  text-align: left;
}

h1 {
  color: #2ab2af;
  font-weight: 700;
  font-size: 2.3em;
}

header h2 {
  color: #c0df34;
}

h2 {
  font-size: 1.5em;
  color: #fff;
}

header p {
  color: #d3d3d3;
}

p {
  color: #fff;
  margin: 10px 0;
}

span {
  font-size: 3em;
  color: #fff;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.box {
  width: calc(1440px / 2);
  padding: 50px;
}

.subscription {
  background-color: #2ab2af;
}

.price {
  color: #a7d5d3;
}

.button {
  background-color: #c0df34;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 60px;
}

a {
  text-decoration: none;
  color: #fff;
}

.info {
  background-color: #4abebd;
}

@media (max-width: 650px) {
  .container {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
}
